@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;

}

.banner-content,
.failures-content {
    width: 1140px;
    margin: auto;
    padding: 70px 0;
}

/* banner section design here  */
#banner {
    height: 105vh;
    background: url(images/banner/banner3.png) center no-repeat;
    background-size: cover;
}

.banner-container {
    margin-left: 55%;
    text-align: end;
    padding: 190px 0;
}

.banner-title {
    color: #FFF;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 30px;
}

.banner-des {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 30px 0;
}

.banner-btn {
    outline: none;
    border: none;
    padding: 21px 26px;
    border-radius: 5px;
    background: #FFF;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
}

/* failures content design Here  */

.failures-content {
    display: flex;
    gap: 120px;
    padding-right: 50px;
    align-items: center;
    justify-content: space-around;
}

.fail-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
}

.fail-des {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
}

.fail-step {
    display: block;
}

.fail-icons {
    display: block;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.fail-icons i {
    color: #16D887;
    margin-right: 10px;
    /* font-size: 24px; */
}